.panel.panel-default
  = render 'dashboard/panel_head'

  %div.panel-body
    .col-md-4
      = render 'dashboard/account_information'

    .col-md-8
      %label Scenarios:
      %dl
        %table.table
          %tr
            %th Name
            %th Status
            %th Instructor
            %th
          - @scenarios.each do |scenario|
            %tr
              %td= scenario.name
              %td= scenario.status
              %td= scenario.user.name
              %td
                %div.btn-group
                  = link_to 'Show', "student/#{scenario.id}", class: 'btn btn-default'
