= render 'admin/modals/create_instructor' if @user.is_admin?
= render 'admin/modals/student_group_create'
= render 'admin/modals/student_group_user_add'

= content_for :heading do
  Dashboard

.col-md-4
  = render 'partials/user_information'
  = render 'dashboard/aws_settings' if @user.is_admin?

.col-md-8
  - if @user.is_admin? || @user.is_instructor?
    %h3 Your Scenarios
    = render 'dashboard/scenarios', scenarios: @user.scenarios

  - if @user.is_instructor? || @user.is_admin?
    %h3 Your Students
    %p Register students by giving them the <b>registration code</b> on the left.
    = render 'users/table', users: @user.students

  - if @user.is_admin?
    %h3 Instructors
    %span.pull-right= link_to "+ create instructor", "#modal-create-instructor", class: 'btn btn-sm btn-primary', :data => {:toggle=>"modal"}
    = render 'users/table', users: @instructors

