= render 'admin/modals/create_instructor' if @user.is_admin?
= render 'student_groups/modals/create'

= content_for :heading do
  Dashboard

.col-md-4
  = render 'partials/user_information'
  = render 'dashboard/aws_settings' if @user.is_admin?

.col-md-8
  - if @user.is_admin?
    %h2 Instructors
    %span.pull-right= link_to "+ create instructor", "#modal-create-instructor", class: 'btn btn-sm btn-primary', :data => {:toggle=>"modal"}
    = render 'users/table', users: @instructors

  - if @user.is_admin? || @user.is_instructor?
    %h2 Your Scenarios
    = render 'dashboard/scenarios', scenarios: @user.scenarios

    %h2 Your Students
    %p Register students by giving them the <b>registration code</b> on the left.
    = render 'users/table', users: @user.students

    %h2
      Student Groups
      = link_to "+ create",
                "#modal-create-student-group",
                class: 'btn btn-xs btn-primary',
                data: { toggle: "modal" }
    - unless @user.student_groups.count > 1
      %p Student groups are a handy to way to organize students! Click 'create' above to get started.
    - @user.student_groups.each do |student_group|
      - next if student_group.name == "All" # because it's redundant
      %h3
        = student_group.name
        - unless student_group.name == "All"
          = link_to "destroy",
                    student_group_path(student_group),
                    method: 'delete',
                    class: 'btn btn-xs btn-danger'
      = render 'users/table', users: student_group.users
