%table.table#account-information
  %thead
    %tr
      %th{ colspan: 2 } Account Information
  %tr
    %th{ scope: 'row' } Name
    %td= @user.name
  %tr
    %th{ scope: 'row' } Email
    %td= @user.email
  - if @user.organization
    %tr
      %th{ scope: 'row' } Organization
      %td= @user.organization
  - if @user.registration_code
    %tr
      %th{ scope: 'row' } Registration Code
      %td= @user.registration_code
  %tr
    %th{ scope: 'row' } Last Sign In
    %td
      = @user.last_sign_in_at.strftime("%b %e at %k:%M")
      %br
      %span.small.text-muted from #{@user.last_sign_in_ip}
  %tr
    %td{ colspan: 2 }= link_to 'edit', edit_user_registration_path
