- @students_tables ||= 0
= form_tag batch_action_users_path, method: :post do
  .form-group
    %label{ for: "batch-actions" } with selected:
    .btn-group.btn-group-sm#batch-actions
      = submit_tag "delete", class: "btn btn-default", data: { confirm: "Are you sure you want to delete ALL selected users?" }
      = link_to 'set organization', "#modal-set-organization-#{@students_tables}", class: 'btn btn-default', data: { toggle: 'modal' }

  .modal{ id: "modal-set-organization-#{@students_tables}", :tabindex => "-1", :role => "dialog", "aria-hidden" => "true" }
    .modal-dialog
      .modal-content
        .modal-body
          .text-right
            %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
              &times;
          .form-group
            = label_tag "Organization"
            %p Set the selected users' organization.
            = text_field_tag "organization", nil, class: 'form-control'
          = submit_tag "update", :class => 'btn btn-primary'

  %table.table.table-striped.students-table
    %thead
      %tr
        %th.text-center= check_box_tag "select_all", 1, false, class: "select-all"
        %th Name
        %th Email
        %th Organization
        %th Role
        %th Actions
    %tbody
      - users.each do |user|
        %tr
          = render user
- @students_tables += 1
