- @students_tables ||= 0
= form_tag batch_action_users_path, method: :post do
  .form-group
    %label{ for: "batch-actions" } with selected:
    .btn-group.btn-group-sm#batch-actions
      = submit_tag "delete",
                    class: "btn btn-default",
                    data: { confirm: "Are you sure you want to delete ALL selected users?" }
      = link_to 'set organization',
                "#modal-set-organization-#{@students_tables}",
                class: 'btn btn-default',
                data: { toggle: 'modal' }
      - unless users.any? { |u| u.role.to_s != "student" } || params[:controller] == 'users'
        = link_to 'add to student group',
                  "#modal-add-to-student-group-#{@students_tables}",
                  class: 'btn btn-default',
                  data: { toggle: 'modal' }

  = render 'users/modals/set_organization', id: "modal-set-organization-#{@students_tables}"
  - unless params[:controller] == 'users'
    = render 'users/modals/add_to_student_group', id: "modal-add-to-student-group-#{@students_tables}"

  %table.table.table-striped.students-table
    %thead
      %tr
        %th.text-center= check_box_tag "select_all", 1, false, class: "select-all"
        %th Name
        %th Email
        %th Organization
        %th Role
        %th
    %tbody
      - users.each do |user|
        %tr
          = render user
- @students_tables += 1
