%td.text-center= check_box_tag "user_ids[]", user.id
%td= user.name
%td= user.email
- if user.organization
  %td= user.organization
- else
  %td.text-muted None
%td= user.role.titleize
%td
  .btn-group
    = link_to "view", user_path(user), class: 'btn btn-xs btn-default'
    = link_to "edit", edit_user_path(user), class: 'btn btn-xs btn-warning'
    - if user != current_user
      = link_to "delete", user_path(user), data: { :confirm => "Are you sure?" }, method: :delete, class: 'btn btn-xs btn-danger'
