.modal#modal-scenario-clone{ :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h3.modal-title.inline#title
          Clone Scenario
      .modal-body#modalbody
        = form_tag clone_new_scenario_path(0), remote: true, method: :post do 
          %p
          = hidden_field_tag "location"
          = hidden_field_tag "name"
          #name-div
            = label_tag nil, "Name:"
            = text_field_tag "newname", nil, class: 'form-control'
            %span.help-block.inline#name-help
          %br
          = submit_tag "Submit", :class => 'btn btn-default'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"}
          Close

.panel.panel-default
  .panel-heading.nav.nav-pills
    %li
      %h4#scenario-new-title
        New Scenario:

  .panel-body
    %table.table
      - @templates.each do |template_kind|
        %thead
          %tr
            %th{ colspan: 3 }
              %h3 #{template_kind[:title]} Scenarios
          %tr
            %th Name
            %th Description
            %th Actions
        %tbody
          - if template_kind[:headers].empty?
            %tr
              %td{ colspan: 3 } None
          - else
            - template_kind[:headers].each do |template|
              %tr{ id: "scenario-#{template[:location]}-#{template[:name].downcase}"}
                %td
                  = template[:name]
                %td
                  = template[:description]
                %td{ width: '25%' }
                  = simple_form_for(@scenario) do |f|
                    .btn-group
                      = f.button :submit, 'Create', class: 'btn btn-primary'
                      = f.hidden_field :name, :value => template[:name]
                      = f.hidden_field :location, :value => template[:location]
                      = link_to 'Clone', "#modal-scenario-clone", :data => {:toggle=>"modal"}, onclick: "$('#modal-scenario-clone').find('#name-div').removeClass('has-error'); $('#modal-scenario-clone').find('#newname').val(''); $('#modal-scenario-clone').find('#name-help').html(''); $('#modal-scenario-clone').find('#name').val('#{template[:name]}'); $('#modal-scenario-clone').find('#location').val('#{template[:location]}')", class: 'btn btn-default'

                      - if template_kind[:title] == 'Custom'
                        = link_to 'Obliterate', scenarios_obliterate_custom_path(filename: template[:filename]), remote: true, method: :post, :data => { confirm: "This will completely erase the scenario. Are you sure?" }, class: 'btn btn-danger'

= link_to 'Back', scenarios_path, class: 'btn btn-default'

