!!!
%html
  = render 'layouts/head'
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .panel.panel-default
        .panel-heading
          %h3= yield :heading
        .panel-body
          = yield
